:root {
    --color-primary: hsl(230, 40%, 30%);
    --color-primary-dark: hsl(230, 40%, 20%);
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

header {
    font: 1.125rem / 1.25 Inter;
    padding: 1rem 2rem;
    color: white;
    background: linear-gradient(250deg, hsl(230, 40%, 20%), hsl(230, 40%, 30%));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__icon {
    width: 0.9em;
    height: 0.9em;
    fill: currentColor;
    margin-right: 0.5em;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-main {
    display: flex;
    align-items: stretch;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link-top {
    padding: 1.25rem 1.5rem;
}

body {
    margin: 0;
    font: 0.8rem / 1.5 Inter;
}

h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
}

main {
    margin: 2rem auto;
    width: 95%;
}

table {
    border-collapse: collapse;
    position: relative;
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 16px;
}

th, td {
    /* border: 0.5px solid black; */
    padding: 8px;
}


thead th {
    /* background-color: #eee; */
    border-bottom: 0.5px solid grey;
    /* For fixed header scrolling */
    background: white;
    position: sticky;
    top: 0;
}

.courses-list thead th:nth-child(1) {
    width: 20%;
}

.courses-list thead th:nth-child(2) {
    width: 2%;
}

.courses-list thead th:nth-child(3) {
    width: 6%;
}

.courses-list thead th:nth-child(4) {
    width: 3%;
}

.courses-list thead th:nth-child(5) {
    width: 3%;
}

.courses-list thead th:nth-child(6) {
    width: 3%;
}

.courses-list thead th:nth-child(7) {
    width: 10%;
}


.courses-list thead th:nth-child(8) {
    width: 10%;
}

.courses-list thead th:nth-child(9) {
    width: 7%;
}


tbody td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgb(245, 243, 243);
}

.full {
    background-color: rgba(199, 199, 199, 0.647);
}

div.wrapper {
    overflow-y: auto;
    height: 30vh;
    margin-bottom: 2em;
}

.login-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container, .form__input, .form__button {
    font-size: 1rem;
    font-weight: 500;
}

.form > :first-child {
    margin-top: 0;
}

.form > :last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success)
}

.form__message--error {
    color: var(--color-error)
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover, .registerBtn:hover {
    background: var(--color-primary-dark)
}

.form__button:active, .registerBtn:active {
    transform: scale(0.98);
}

.form__button:disabled, .registerBtn:disabled {
    background: var(--select-border);
    transform: none;
}

.form__text {
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    padding: 0;
}

.profile-card {
    /* font: 300 1rem 'Fira Sans', sans-serif; */
    font-weight: 300;
    font-size: 1rem;
    /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); */
    border-radius: 4px;
    background: #ffffff;
    width: 500px;
    border: 1px solid gray;
}

.name {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1rem;
}

.profile-info {
    width: 95%;
    margin: 1rem;
}

.profile-info td {
    text-align: left;
}

.registerBtn {
    font-weight: 300;
    background: var(--color-secondary);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    font-family: inherit;
}

.registered-courses-list thead th:nth-child(1) {
    width: 20%;
}

.registered-courses-list thead th:nth-child(2) {
    width: 2%;
}

.registered-courses-list thead th:nth-child(3) {
    width: 8%;
}

.registered-courses-list thead th:nth-child(4) {
    width: 2%;
}

.registered-courses-list thead th:nth-child(5) {
    width: 20%;
}

.registered-courses-list thead th:nth-child(6) {
    width: 20%;
}

.registered-courses-list thead th:nth-child(7) {
    width: 10%;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,
.select:after {
  grid-area: select;
}

tbody tr.newRow {
    background-color: hsl(116, 45%, 60%);
}

tbody tr.deletedRow {
    background-color: hsl(0, 75%, 60%);
}